body, html{
    min-height: 100%;
}

#profile-info{
    z-index: 1000;
}

.suggestions table{
    border-collapse: collapse;
}

.suggestions tbody{
    border: none;
}

.suggestions table .thumb{
    padding: 0;
}

.suggestions table .thumbnail{
    margin: 0;
}