<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if title %}
    <title>{{ title }} - MovieSuggestions</title>
    {% else %}
    <title>MovieSuggestions</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
    <div class="off-canvas-wrapper">
        <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
            <div class="off-canvas position-left reveal-for-large" id="profile-info" data-off-canvas>
                <div class="row column">
                    <br/>
                    {% if profiles %}
                    <label>Profile: </label>
                    <select id="profile_select">
                        {% for profile in profiles %}
                        <option value="{{ profile.id }}" {% if profile==current_profile %} selected{% endif %}>{{ profile.name }}</option>
                        {% endfor %}
                    </select>
                    <a href="{{ url_for('application.profile') }}{{current_profile.id}}" class="button edit_profile">Edit</a>
                    {% endif %}
                    <a href="#" class="button add_profile">Add new</a>
                </div>
                <div class="row column">
                    <ul class="vertical menu">
                      <li><a href="{{ url_for('application.index') }}">Home</a></li>
                      <li><a href="{{ url_for('application.profile') }}">Profiles</a></li>
                      <li><a href="{{ url_for('application.movie') }}">All movies</a></li>
                    </ul>
                </div>
            </div>

            <div class="off-canvas-content" data-off-canvas-content>
                <div class="title-bar hide-for-large">
                    <div class="title-bar-left">
                    <button class="menu-icon" type="button" data-open="my-info"></button>
                    <span class="title-bar-title">Mike Mikerson</span>
                    </div>
                </div>

                <div class="callout primary">
                {% block primary %}{% endblock %}
                </div>

                {% block content %}{% endblock %}

            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foundation.js') }}"></script>
    <script>
      $(document).foundation();
    </script>
    <script src="{{ url_for('static', filename='js/js.cookie.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script>
        var profile_url = '{{ url_for('application.profile') }}';
    </script>
</body>
</html>