{% extends "base.html" %}

{% block primary %}
    <div class="row column">
    <h3>Hello! We have some fresh movies for you!</h3>
    </div>
{% endblock %}

{% block content %}
    <div class="suggestions row small-up-2 medium-up-3 large-up-4">
    {% for movie in movies %}
        {% if movie.id not in dismissed_movies %}
        <div id="movie-{{ movie.id }}" class="movie-item column">
            <table class="unstriped">
                <tr>
                    <td class="title" colspan="2">{{movie.name}}</td>
                </tr>
                <tr>
                   <td class="thumb" rowspan="2" width="94">
                       <img class="thumbnail" src="{% if movie.cover %}{{movie.cover}}{% else %}http://placehold.it/94x140{% endif %}">
                   </td>
                    <td class="genres">
                    {% for genre in movie.genres %}
                        <span class="radius{% if genre not in current_profile.whitelist %} secondary{% endif %} label">{{genre.name}}</span>
                    {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td class="rating">IMDb: {% if movie.rating > 0 %}{{movie.rating}}{% else %}N/A{% endif %}</td>
                </tr>
                <tr>
                    <td class="rate" colspan="2">
                        <a data-movie-id="{{movie.id}}" class="rate_base rate_down">
                            <i class="fi-dislike medium"></i>
                        </a>
                        <a data-movie-id="{{movie.id}}" class="rate_base{% if movie.id in liked_movies %} rated_up{% else %} rate_up{% endif %}">
                            <i class="fi-like medium"></i>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        {% endif %}
    {% endfor %}
    </div>
    <div class="suggestions-pagination row small-up-2 medium-up-3 large-up-4">
        <ul class="pagination" id="pagination" role="navigation" aria-label="Pagination"></ul>
    </div>
{% endblock %}