{% extends "base.html" %}

{% block content %}
	<div class="object-list row">
        <div class="large-12">
            <table>
                <tr>
                    <th style="width: 20px">#</th>
                    <th>Name</th>
                    <th>IMDb</th>
                    <th>Updated</th>
                    <th style="width: 50px">Actions</th>
                </tr>
                {% for item in obj %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td><a href="{{ url_for('application.movie') }}{{ item.id }}" title="{{ item.name }}">{{ item.name }}</a></td>
                        <td>{{ item.rating }}</td>
                        <td>{{ item.date }}</td>
                        <td><a class="pure-button pure-button-primary button blue" href="{{path + item.id|string}}">Edit</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
	</div>

{% endblock %}