{% extends "base.html" %}

{% block content %}
	<div class="object-list row">
        <div class="large-12">
            <table>
                <tr>
                    <th style="width: 20px">#</th>
                    <th>Name</th>
                    <th style="width: 200px">Actions</th>
                </tr>
                {% for item in obj %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td><a href="{{ url_for('application.profile') }}{{ item.id }}" title="{{ item.name }}">{{ item.name }}</a></td>
                        <td>
                            <a class="button blue" href="{{path + item.id|string}}">Edit</a>
                            <a class="button red" href="{{path + 'delete/' + item.id|string}}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
	</div>

{% endblock %}